*{
  background-color: cornflowerblue;
}

.empty {
  width: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.fill {

  width: 150px;

}

.hold {
  border: ;
}

.hovered {
  : dashed;
}

@media (max-width: 800px) {
}